body {
  font-family: "Inter", sans-serif;
  height: 100%;
}

.footernav {
 position:absolute;
  bottom:0;
  left:0;
}

.navStyle {
  background-color: #092c4c !important;
  color: #ffffff !important;
}

.goldColor {
  color: #f2994a !important;
}

.greyColor {
  color: #4f4f4f;
  font-weight: bold;
}

.navStyle li a {
  color: #ffffff !important;
}

.whiteLine {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.19);
}

.goldLine {
  border: 2px solid #f2994a;
  width: 20%;
}

.contactText {
  font-size: 16px;
  line-height: 19px;
  color: #4f4f4f;
}

.footerFontSize {
  font-size: 16px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("heroimage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fontColor {
  color: #f2994a;
}

.rectangle {
  position: relative;
  top: 0;
  left: 0;
}
.dottedrectangle {
  position: absolute;
  top: 0px;
  right: 0;
  height: auto;
  width: 50%;
}

.rectangle2 {
  position: relative;
  top: 0;
  left: 0;
}
.dottedrectangle2 {
  position: absolute;
  top: 0px;
  right: 0;
  height: 90%;
  width: 100%;
}

.parent {
  position: relative;
  /* width: 80%;
  height: 80vh; */
  margin: 5% auto;
  /* background: #fff;
  box-shadow: 0px 0px 5px #000; */
}
.child {
  position: absolute;
  top: 10%;
  bottom: -5%;
  right: 5%;
  width: 50%;
  background: #fff;
  box-shadow: 0px 0px 5px #000;
  height: 28em;
}

.parent2 {
  position: relative;
  margin: 5% auto;
}
.child2 {
  position: absolute;
  top: 10%;
  bottom: -5%;
  background: #fff;
  box-shadow: 0px 0px 5px #000;
  height: 25em;
  width: 70%;
  margin-right: 20%;
  padding: 20px;
}

.content-desktop {
  display: block;
}

.main {
  width: 1000px;
  height: 500px;
  background-color: #111210;
  display: flex;
  justify-content: center;
}

.inner {
  width: 250px;
  height: 250px;
  background-color: #34cb2f;
  align-self: flex-end;
}

.testimonialFontOne {
  font-weight: 500;
  font-size: 20px;
  color: #bfbfbf;
}

.testimonialFontTwo {
  font-weight: bold;
  font-size: 24px;
  color: #202c3a;
}

.testimonialMobileFontOne {
  font-size: 10px;
  color: #202c3a;
}

.imageFloatLeft {
  width: 25%;
  float: left;
  margin-bottom: 5px;
  border-radius: 50%;
}

.imageFloatRight {
  width: 25%;
  float: right;
  margin-bottom: 5px;
  border-radius: 50%;
}

.mobiletitle {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #4f4f4f;
}

.textFloatRight {
  float: right;
  width: 70%;
  text-align: right;
}

.testimonialMobileFontTwo {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: #202c3a;
}

#content-mobile {
  display: none;
}

.testimonial-mobile {
  display: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
}

.footer {
  left: 0;
  bottom: 0;
  /*  width: 100%;
*/
  color: white;
  text-align: center;
  padding-top: 5%;
}

.messageFont {
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
}

.centered {
  position: absolute;
  top: 40%;
  left: 16px;
}

#heroBtn {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .content-desktop {
    display: none;
  }
  #content-mobile {
    display: block;
  }

  .testimonial-desktop {
    display: none;
  }

  .testimonial-mobile {
    display: block;
  }

  footer {
    width: 100%;
  }

  #testimonial {
    padding-top: 100%;
  }

  .font-padding {
    padding-top: 10%;
  }

  #featuredProducts {
    padding-top: 10%;
  }

  #heroBtn {
    width: 25%;
  }
}
